name: build
on: [ pull_request, push ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4
      - name: setup jdk
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: "microsoft"
      - name: make gradle wrapper executable
        run: chmod +x ./gradlew
      - name: build
        run: ./gradlew build
      - name: capture build artifacts - fabric
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts - Fabric
          path: fabric/build/libs/
      - name: capture build artifacts - forge
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts - Forge
          path: forge/build/libs/
      - name: capture build artifacts - neoforge
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts - NeoForge
          path: neoforge/build/libs/